/* GENERICS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

header,main {
    margin: 0 auto;
    width: 1000px;
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* UTILITIES */
.clearfix::after {
    content:"";
    display: block;
    clear: both;
}


/* CARDS */
.card {
    background-color: #6557d1;
    width: calc(100% / 3 );
    height: 100px;
    float: left;
}

.card_bg {
    background-color: wheat;
    width: 80%;
    height: 60%;
}

