/* GENERICS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
}

header,main {
    margin: 0 auto;
    width: 1000px;
}

main {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/* UTILITIES */
.clearfix::after {
    content:"";
    display: table;
    clear: both;
}


/* CARDS */
.card {
    /* background-color: #6557d1; */
    width: calc(100% / 3 );
    height: 100px;
    float: left;
    margin-bottom: 30px;
}

.card_bg {
    background-color: wheat;
    margin-left: 15px;
    margin-right: 15px;
}

.card_bg .pfp {
    float: left;
    height: 100px;
    width: auto;
}
